*{box-sizing: border-box; }
html, body { margin:0; padding:0; height:100%; font-family: "Helvetica Neue", Arial, sans-serif;}
body{ overflow-x: hidden; }
#container { min-height:100%; position:relative; }
#header { width: 100%; height: 80px; transition: 1s; }


/*body section style*/
#body { padding:10px; padding-bottom:60px;   /* Height of the footer */}
.main{ width: 100%; display: inline-block; }
.strem-main-video{ height: 450px; width: 70%; background-color: gold; float: left;}
.main-content{ float: right; height: 100%; }
.aside-main-content{ float: left; }
.aside-main-video, .aside-main-news{ width: 30%;float: right; }
.aside-main-news{ margin-top: 50px; }
.aside-main-news-more{ margin-top: 20px; }

.side-table{ width: 330px; margin: 0px 8%; clear: all; }
.side-table-header{ background-color: rgb(50,150,50); height: 50px; position: relative; margin-top: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px;}
#side-table-header-live{ width: 100%; text-align: center; margin-left: 0px; }
.side-table h3{ color: white; margin-top: 4%; margin-left: 30%; position: absolute; font-size: 15px;}
.fa-plus-circle, .fa-minus-circle{ transition: 1s; color: rgb(240,240,240); font-size: 40px; margin: 3px 83%; box-shadow: 1px 1px 2px 0px rgb(200,200,200); border-radius: 100%;}
.fa-plus-circle:hover , .fa-minus-circle:hover{ opacity: 0.8; cursor: pointer; color: rgb(200,240,200);} 
.fa-minus-circle{ display: none; }
.side-table img{ width: 40px; }
.match-list{ overflow-y: hidden; height: 140px; background-color: white; border: solid 1px rgb(235,235,235); border-bottom-left-radius: 3px;  border-bottom-right-radius: 3px;}
.match-list table{ width: 90%; margin: auto; }
.match-list table tr td{ border: none; }
.match-count{ height: 40px; width: 100%; border-bottom: solid 1px lightgreen; text-align: center;}
.match-count a{ padding: 3px 10px; background-color: rgb(50,150,50); color: white; border-radius: 2px; font-family: arial; font-size: 13px; text-decoration: none; }
.live-score { background-color: transparent; margin-top: 10px; height: 155px; overflow-y: hidden; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border: solid 1px rgb(235,235,235); }
.live-score-header{ height: 50px; background-color: rgb(50,150,50); border-bottom: none; border: solid 1px lightgray; margin-top: 50px; border-top-right-radius: 5px; border-top-left-radius: 5px;}
.live-score-header h4{ color: rgb(50,150,50); font-family: cursive; text-align: center; padding-top: 20px;}
.timer { color: gray; text-align: center;}
.team-icon{ width: 40px;}
.team-icon-left{ margin-left: 15px; }
.abreviation{ color: gray; }


/*news page modify style*/


.strem-main-news{ width: 100%; height: 600px; display: inline-block;}
.main-news{ height: 600px; width: 50%; display: inline-block; position: relative;}
.main-news-left{ background-color: violet; float: left; }
.main-news-right{ background-color: pink; float: right;}
.news-segment{ height: 300px; width: 50%; background-color: black; float: left;}
#more-news{ width: 70%; float: left; }
.more-news-menu{ width: 100%; height: 50px; margin-top: 50px; margin-bottom: 30px; font-weight: bold; color: rgb(100,100,100); background-color: rgb(235,235,235); display: inline-block;}
.news-menu-btn{ transition: .5s; height: 50px; width: 20%; background-color: rgb(230,230,230); float: left; line-height: 50px; text-align: center; border-right: 1px solid rgb(215,215,215); }
.news-menu-btn:hover{ background-color: rgb(50,255,50); cursor: pointer; color: white; }
.All_news{ width: 100%; display: inline-block; height: 2040px; }
.news-cluster2{ display: none; }
.news-item{ width: 32.3%; height: 300px; background-color: red; float: left; margin: 20px 4px; }
.news-item:hover{ cursor: pointer; }
.news-item-header{ height: 500px;  width: 100%; background-color: gold; margin-top: 20px; }
.news-item-content{ height: 1000px; width: 100%; background-color: gray; }
.view-more-pane{  height: 50px; margin: 30px 0px; width: 100%; color: rgb(100,100,100); font-weight: bold; text-align: center;}
#view-more-btn{ height: 50px; width: 250px; background-color: gold; display: inline-block; border: 2px solid rgb(200,200,200); background-color: rgb(220,230,220); border-radius: 50px; }
#view-more-btn:hover{ color: white; background-color: rgb(50,255,50); cursor: pointer; }
#view-more-btn p{ margin: 12px 60px; }
/*.img-big{ height: 600px; width: 100%; background-color: gray; }
.cover{ height: 600px; width: 100%; background-color: black; z-index: 20; position: absolute; }
*/

#back-up, #back-up1, #back-up-news{ width: 100%; height: 30px; border-bottom: 5px solid gold; margin: 10px 0px; line-height: 30px; text-align: center; display: none;}
.fa-angle-up{ color: gold; font-size: 40px; font-weight: bold; margin-top: -10px; }
.fa-angle-up:hover{ cursor: pointer; opacity: 0.7; }
.match-list-news{ height: 620px; }
.live-score-news{ height: 620px; }


.time-table{ width: 100%;  border-radius: 4px; margin-top: 50px;}
/*.side-btn { display: none; border-radius: 100px; background-color: rgb(50,140,50); border: solid 2px rgb(150,200,150); margin-top: 20px; position: relative;}*/
.fa-caret-right:hover, .fa-caret-left:hover { cursor: pointer; opacity: 0.5; }
.fa-caret-left{ margin-left: 10px; float: left; }
.fa-caret-right, .fa-caret-left{ font-size: 40px; color: white; margin: 15px 5px;}
.fa-caret-right{ float: right; margin-right: 10px; }
.button-container{ height: 40px; width: 100%; position: absolute; margin-top: 60px; }
.tablink, .tablink2 {
    background-color: rgb(100,200,100);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    width: 100px;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 5px 5px;
    display: inline;
    font-family: cursive;
}

.tablink:hover, .tablink2:hover {
    background-color: rgb(100,150,100);
}

/* Style the tab content */
.tabcontent{
    color: black;
    display: none;
    text-align: center;
    overflow: auto;
}


#t1 {background-color:white;}
#t2 {background-color:white;}
#t3 {background-color:white;}
#t4 {background-color:white;}
#t5 {background-color:white;}
#t6 {background-color:white;}
/*#t7 {background-color:white;}
#t8 {background-color:white;}
#t9 {background-color:white;}
#t10 {background-color:white;}
#t11 {background-color:white;}
#t12 {background-color:white;}
#t13 {background-color:white;}
#t14 {background-color:white;}*/
.active {  background-color: #717171; }
